@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
::selection
{
	color: #fff;
	background-color: rgba(0, 0, 0,.8);
}
::-webkit-scrollbar{
	background: transparent;
	width: 4px;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(255, 255, 255,.2);
}
::-webkit-scrollbar-thumb:active{
	background-color: rgba(255, 255, 255,.3);
}

body
{
	background-color: #d9d9d9;
}
#secure
{	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 900px;
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-color: #000;
	z-index: 50000;
}
#secure article
{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
@keyframes goDown {
	from
	{
		transform: translateY(-200px);
	}
	to
	{
		transform: translateY(0px);
	}
}
#secure article > div
{
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 385px;
	height: 65px;
	overflow: hidden;
	margin-top: 30px;
	border-radius: 10px;
	transform: translateY(-200px);
	box-shadow: 0 10px 85px rgba(0, 0, 0, .35);
	animation: goDown .5s 1s ease-in forwards;
}
#secure article div img
{
	height: 30px;
	margin: 0 26px;
	opacity: .8;
}
#secure article div span
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	flex-grow: 1;
	height: 75px;
	overflow: hidden;
}
#secure article div span input
{
	display: block;
	width: 85%;
	color: #000;
	padding: 50px;
	padding-left: 5px;
	font-size: 17px;
	font-weight: normal;
	border: none;
	outline: none;
	background: transparent;
}

#secure article div span input::-webkit-input-placeholder {
   color: rgba(0, 0, 0, .8);
}






#conteneur
{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 900px;
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	z-index: 5;
}
@keyframes moveToRight {
	from
	{
		transform: translateX(-280px);
	}
	to
	{
		transform: translateX(0);
	}
}
#conteneur > nav
{
	position: relative;
	display: block;
	overflow: hidden;
	overflow-y: scroll;
	width: 280px;
	height: 100%;
	animation: moveToRight .3s linear forwards;
}
#conteneur > nav ul
{
	position: relative;
	display: block;
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	list-style-type: none;
}
#conteneur > nav ul li
{
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	position: relative;
	cursor: default;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	opacity: .85;
	transition: all .2s linear 0s;
}
#conteneur > nav ul li:last-child
{
	margin-bottom: 50px;
}

#conteneur > nav ul li img
{
	height: 16px;
	margin-left: 33px;
	opacity: .7;
}
#conteneur > nav ul li p
{
	color: #000;
	margin-left: 14px;
	font-size: 16px;
	font-weight: normal;
}
#conteneur > nav ul li:active,
#conteneur > nav ul li.highlight
{
	background-color: rgba(255, 255, 255, .22);
	opacity: 1;
}
#conteneur > nav ul li:active img
{
	opacity: 1;
}
#conteneur > nav ul h1
{
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	cursor: default;
	display: flex;
	align-items: center;
	padding-left: 21px;
	height: 48px;
	width: 100%;
	color: rgba(0, 0, 0,.6);
	font-size: 15px;
	font-weight: 600;
}

/***********************************************************************************\

	--> La partie des onglets

\***********************************************************************************/
#conteneur > article
{
	position: relative;
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}
#conteneur > article > nav
{
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#conteneur > article nav.shown
{
	display: flex;
}



#conteneur > article nav > div
{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	width: auto;
	height: auto;
	overflow: hidden;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, .1);
	box-shadow: 0 10px 85px rgba(0, 0, 0, .35);
}
#conteneur > article nav > div ul.informations
{
	position: relative;
	display: block;
	width: 380px;
	padding: 15px 0;
	overflow: hidden;
}
#conteneur > article nav > div > ul.informations > li
{
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}
#conteneur > article nav > div > ul.informations > li span
{
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	cursor: default;
	display: flex;
	padding-left: 25px;
	align-items: center;
	width: 100%;
	height: 45px;
	width: 100%;
	color: rgba(0, 0, 0,.6);
	font-size: 15px;
	font-weight: 600;
}
#conteneur > article nav > div > ul.informations > li div
{
	display: flex;
	padding-left: 33px;
	align-items: center;
	width: 100%;
	height: 40px;
	font-size: 17px;
	font-weight: normal;
	color: rgba(0, 0, 0,.7);
}
#conteneur > article nav > div > ul.informations > li div a
{
	display: block;
	font-size: 17px;
	font-weight: normal;
	opacity: .7;
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: opacity .15s linear 0s;
}
#conteneur > article nav > div > ul.informations > li div a:hover
{
	opacity: 1;
}
#conteneur > article nav > div ul.illustration
{
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	cursor: default;
	position: relative;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	width: 190px;
	height: auto;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .15);
}
#conteneur > article nav > div ul.illustration img
{
	height: 45px;
	opacity: .7;
}